Repository kazuki-0418/Money-Vision: changes, and which lefthook commands are due for each by the changed paths.
All: check-frontend, check-backend

lefthook.yml:

pre-commit:
  commands:
    check-frontend:
      glob: "frontend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        if [ -n "$(git diff --cached --name-only --diff-filter=ACMR frontend/)" ]; then
          npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true frontend/
          git update-index --again
        fi
    check-backend:
      glob: "backend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        if [ -n "$(git diff --cached --name-only --diff-filter=ACMR backend/)" ]; then
          npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true backend/
          git update-index --again
        fi

pre-push:
  commands:
    check-frontend:
      glob: "frontend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        if [ -n "$(git diff origin/main..HEAD --name-only frontend/)" ]; then
          npx biome check --no-errors-on-unmatched --files-ignore-unknown=true frontend/
        fi
    check-backend:
      glob: "backend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        if [ -n "$(git diff origin/main..HEAD --name-only backend/)" ]; then
          npx biome check --no-errors-on-unmatched --files-ignore-unknown=true backend/
        fi

backend
  backend/.env
  backend/index.ts
  backend/package-lock.json
  backend/package.json
  backend/src/application/dtos/AccountDTO.ts
  backend/src/application/dtos/TransactionDTO.ts
  backend/src/application/services/AccountService.ts
  backend/src/application/services/TransactionService.ts
  backend/src/application/usecases/GetAccountBalance.ts
  backend/src/application/usecases/GetTransactionHistory.ts
  backend/src/domain/entities/Account.ts
  backend/src/domain/entities/Transaction.ts
  backend/src/domain/interfaces/repositories/AccountRepository.ts
  backend/src/domain/interfaces/repositories/TransactionRepository.ts
  backend/src/domain/interfaces/services/AccountService.ts
  backend/src/domain/interfaces/services/TransactionService.ts
  backend/src/infrastructure/config/db.ts
  backend/src/infrastructure/config/env.ts
  backend/src/infrastructure/external/BankAPI.ts
  backend/src/infrastructure/repositories/SupabaseAccountRepository.ts
  backend/src/infrastructure/repositories/SupabaseTransactionRepository.ts
  backend/src/presentation/controllers/AccountController.ts
  backend/src/presentation/controllers/TransactionController.ts
  backend/src/presentation/routes/accountRoutes.ts
  backend/src/presentation/routes/transactionRoutes.ts
  backend/tsconfig.json
  docker-compose.yml
  frontend/src/App.css
  frontend/src/components/pages/goals.tsx
Due: check-frontend, check-backend

backend
  backend/.env
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/bank-account.controller.ts
  backend/src/controllers/transaction.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/index.ts
  backend/src/middlewares/auth.middleware.ts
  backend/src/models/bank-account.model.ts
  backend/src/models/transaction.model.ts
  backend/src/models/user.model.ts
  backend/src/routes/bank-account.routes.ts
  backend/src/routes/transaction.routes.ts
  backend/src/routes/user.routes.ts
  backend/src/services/bank-api.service.ts
  backend/src/services/supabase.service.ts
  backend/src/types/express-session.d.ts
  backend/src/types/index.ts
  backend/tsconfig.json
  docker-compose.yml
  frontend/src/App.css
  frontend/src/components/pages/goals.tsx
Due: check-frontend, check-backend

biome format
  backend/src/controllers/bank-account.controller.ts
  backend/src/controllers/transaction.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/index.ts
  backend/src/middlewares/auth.middleware.ts
  backend/src/models/bank-account.model.ts
  backend/src/models/transaction.model.ts
  backend/src/models/user.model.ts
  backend/src/routes/bank-account.routes.ts
  backend/src/routes/transaction.routes.ts
  backend/src/routes/user.routes.ts
  backend/src/services/bank-api.service.ts
  backend/src/services/supabase.service.ts
  backend/src/types/express-session.d.ts
  backend/src/types/index.ts
  biome.json
  frontend/src/App.css
Due: check-backend

fix package.json
  backend/package-lock.json
Due: none

remove DDD Architecture
  .gitignore
  backend/src/application/dtos/AccountDTO.ts
  backend/src/application/dtos/TransactionDTO.ts
  backend/src/application/services/AccountService.ts
  backend/src/application/services/TransactionService.ts
  backend/src/application/usecases/GetAccountBalance.ts
  backend/src/application/usecases/GetTransactionHistory.ts
  backend/src/domain/entities/Account.ts
  backend/src/domain/entities/Transaction.ts
  backend/src/domain/interfaces/repositories/AccountRepository.ts
  backend/src/domain/interfaces/repositories/TransactionRepository.ts
  backend/src/domain/interfaces/services/AccountService.ts
  backend/src/domain/interfaces/services/TransactionService.ts
  backend/src/infrastructure/config/db.ts
  backend/src/infrastructure/config/env.ts
  backend/src/infrastructure/external/BankAPI.ts
  backend/src/infrastructure/repositories/SupabaseAccountRepository.ts
  backend/src/infrastructure/repositories/SupabaseTransactionRepository.ts
  backend/src/presentation/controllers/AccountController.ts
  backend/src/presentation/controllers/TransactionController.ts
  backend/src/presentation/routes/accountRoutes.ts
  backend/src/presentation/routes/transactionRoutes.ts
Due: check-backend

auth api
  backend/.env
  backend/index.ts
  backend/src/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/account.ts
  frontend/src/api/auth.ts
  frontend/src/api/client.ts
  frontend/src/api/transaction.ts
  frontend/src/components/pages/login.tsx
  frontend/src/components/pages/register.tsx
  frontend/src/hooks/auth.ts
  frontend/src/types/transaction.ts
Due: check-frontend, check-backend

add auth
  backend/src/index.ts
  backend/src/models/user.model.ts
  biome.json
  frontend/.env
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/api/client.ts
  frontend/src/components/pages/login.tsx
  frontend/src/components/pages/register.tsx
  frontend/src/layout/MainLayout.tsx
Due: check-frontend, check-backend

Imprement API
  backend/.env
  backend/Personal Finance API.postman_collection.json
  backend/database.types.ts
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/bank-account.controller.ts
  backend/src/controllers/transaction.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/index.ts
  backend/src/infrastructure/supabase/account.service.ts
  backend/src/infrastructure/supabase/index.ts
  backend/src/infrastructure/supabase/supabase-client.ts
  backend/src/infrastructure/supabase/transaction.service.ts
  backend/src/infrastructure/supabase/user.service.ts
  backend/src/models/bank-account.model.ts
  backend/src/models/transaction.model.ts
  backend/src/models/user.model.ts
  backend/src/routes/bank-account.routes.ts
  backend/src/routes/transaction.routes.ts
  backend/src/services/bank-api.service.ts
  backend/src/services/supabase.service.ts
  backend/src/types/accounts.ts
  backend/src/types/cookie-session.d.ts
  backend/src/types/express-session.d.ts
  backend/src/types/index.ts
  backend/src/types/transactions.ts
  backend/src/types/users.ts
  backend/supabase-schema.png
  biome.json
  frontend/.gitignore
  frontend/src/api/client.ts
Due: check-frontend, check-backend

authentication for frontend
  backend/src/models/user.model.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo-1.png
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/api/client.ts
  frontend/src/api/transaction.ts
  frontend/src/components/pages/login.tsx
  frontend/src/components/sections/NavigationSection/NavigationSection.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/auth.ts
  frontend/src/layout/MainLayout.tsx
  frontend/src/store/userStore.ts
Due: check-frontend, check-backend

resolve loop rendering
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/pages/login.tsx
  frontend/src/components/sections/NavigationSection/NavigationSection.tsx
  frontend/src/hooks/auth.ts
Due: check-frontend

frontend
  backend/src/controllers/transaction.controller.ts
  backend/src/routes/transaction.routes.ts
  biome.json
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/account.ts
  frontend/src/api/news.ts
  frontend/src/api/transaction.ts
  frontend/src/components/features/import/importButton.tsx
  frontend/src/components/features/news/news-app.tsx
  frontend/src/components/features/transactions/TransactionFilter.tsx
  frontend/src/components/features/transactions/TransactionForm.tsx
  frontend/src/components/features/transactions/TransactionTable.tsx
  frontend/src/components/pages/home.tsx
  frontend/src/components/pages/report.tsx
  frontend/src/components/pages/transaction.tsx
  frontend/src/components/sections/DashboardSection/DashboardSection.tsx
  frontend/src/components/sections/NavigationSection/NavigationItem.tsx
  frontend/src/components/sections/NavigationSection/NavigationSection.tsx
  frontend/src/components/sections/ReportSection/ReportSection.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/date-range-picker.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/pie-chart.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/const/mockData.ts
  frontend/src/layout/MainLayout.tsx
  frontend/src/types/account.ts
  frontend/src/types/news.ts
  frontend/src/types/transaction.ts
Due: check-frontend, check-backend

updated
  frontend/src/components/features/import/importButton.tsx
  frontend/src/components/pages/home.tsx
  frontend/src/components/pages/report.tsx
  frontend/src/components/pages/transaction.tsx
  frontend/src/components/sections/ReportSection/ReportSection.tsx
  frontend/src/components/sections/SummarySection/SummarySection.tsx
  frontend/src/components/ui/pie-chart.tsx
  frontend/src/hooks/windowsize.ts
Due: check-frontend

fix scroll page
  frontend/.env
  frontend/src/components/features/news/news-app.tsx
  frontend/src/components/pages/home.tsx
  frontend/src/components/sections/DashboardSection/DashboardSection.tsx
  frontend/src/components/sections/ReportSection/ReportSection.tsx
Due: check-frontend

adjust syle
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/components/pages/login.tsx
  frontend/src/components/sections/DashboardSection/DashboardSection.tsx
  frontend/src/hooks/auth.ts
Due: check-frontend

Update README.md
  README.md
Due: none
